<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Steph</td>
            <td>Hays</td>
            <td>@st3phhays</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Bootstrap</td>
            <td>Pretty</td>
            <td>@bootstrappretty</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Bootstrap</td>
            <td>@getbootstrap</td>
        </tr>
    </tbody>
</table>