---
import Breadcrumb from "@components/Breadcrumb.astro";
const { title, description } = Astro.props;
---

<Breadcrumb />
<h1 class="mb-0"><strong>{title}</strong></h1>
<p class="mb-5">{description}</p>
