---

---

<span class="rainbow-border-top position-absolute top-0 start-50 translate-middle-x" aria-hidden="true"></span>
<span class="rainbow-border-start position-absolute top-50 start-0 translate-middle-y" aria-hidden="true"></span>
<span class="rainbow-border-bottom position-absolute bottom-0 start-50 translate-middle-x" aria-hidden="true"></span>
<span class="rainbow-border-end position-absolute top-50 end-0 translate-middle-y" aria-hidden="true"></span>
