<p class="h1">Example heading <span class="badge text-bg-primary">New</span></p>
<p class="h2">Example heading <span class="badge text-bg-secondary">New</span></p>
<p class="h3">Example heading <span class="badge text-bg-success">New</span></p>
<p class="h4">Example heading <span class="badge text-bg-danger">New</span></p>
<p class="h5">Example heading <span class="badge text-bg-warning">New</span></p>
<p class="h6">Example heading <span class="badge text-bg-info">New</span></p>
<p class="h6">Example heading <span class="badge text-bg-light">New</span></p>
<p class="h6">Example heading <span class="badge text-bg-dark">New</span></p>